<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h2>Change Password</h2>
        <form method="post">
            <div class="input-group">
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" required>
            </div>
            <div class="input-group">
                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" required>
            </div>
            <div class="input-group">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>

    <script src="{{ url_for('static', filename='livetime.js') }}"></script>


</body>
</html>
