<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>
<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>Password Reset</h1>
        </div>
    </nav>
    <div class="content">
        <!-- Display password reset message -->
        <p id="reset-message" style="display: none;">We have sent you a password reset link. Please check your email.</p>

        <!-- Password reset form -->
        <form action="{{ url_for('password_reset') }}" method="post">
            <label for="username">
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>
            <label for="email">
                <i class="fas fa-envelope"></i>
            </label>
            <input type="email" name="email" placeholder="Email Address" id="email" required>
            <input type="submit" value="Reset Password" onclick="showResetMessage()">
        </form>
    </div>

    <!-- JavaScript code to display reset message -->
    <script>
        function showResetMessage() {
            document.getElementById('reset-message').style.display = 'block';
        }
    </script>
</body>
</html>
