<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Password Reset Verification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <style>
        .live-time {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 10px;
        }
    </style>
</head>
<body class="loggedin">
    <nav class="navtop">
        <div>
            <h1>Password Reset Verification</h1>
        </div>
    </nav>
    <div class="content">
        <form action="{{ url_for('password_reset_verification') }}" method="post">
            <label for="token">
                <i class="fas fa-key"></i>
            </label>
            <input type="text" name="token" placeholder="Verification Code" id="token" required>
            <div class="msg">{{ error_message }}</div>
            <input type="submit" value="Verify">
        </form>
    </div>

    <!-- Live Time Display -->
    <div class="live-time" id="live-time"></div>

    <script src="{{ url_for('static', filename='livetime.js') }}"></script>

</body>
</html>
